*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Gradle files
.gradle/
build/
caches/
wrapper/
local.properties
.idea/

# Ignore build artifacts
*.apk
*.ap_
*.dex
*.so

# Ignore other directories that may contain large files
.cxx/
.externalNativeBuild/